<div class="span-1" id="navigation">
  <% if @images[1] %>
    <%= link_to_remote "prev", :update => 'content',
      :url => { :action => 'prev_image' } -%>
    &bull;
    <%= link_to_remote "next", :update => 'content',
      :url => { :action => 'next_image' } -%>
  <% end %>
  <br/>
</div>
<% if @current_image %>
  <%= image_tag @current_image, :id => "contentimage", :class => "span-5" %>
<% end %>
<div id="contenttext" class="span-5">
  <h6><%= content.title -%></h6>
  <%= content.description -%>
</div>
