<% if @images %>
  <% hidden_div_if(@images.count < 2, :id => "cart") do %>
    <%= link_to_remote "Previous", :update => 'content',
      :url => { :action => 'prev_image' } -%>
    <%= link_to_remote "Next", :update => 'content',
      :url => { :action => 'next_image' } -%>
  <% end %> 
<% end %>
<% if @current_image %>
  <%= image_tag @current_image %>
<% end %>
<h3><%= content.title %></h3>
<p><%= content.description %></p>
