<div class="span-1" id="navigation">
  <% if @display_nav %>
    <%= link_to_remote "prev",
      :url => { :action => 'prev_image' } -%>
    &bull;
    <%= link_to_remote "next",
      :url => { :action => 'next_image' } -%>
  <% end %>
  <br/>
</div>
<br/>
<div id="content_image" class="span-5">
  <% if content.image %>
    <% if @display_nav %>
      <%= link_to_remote image_tag(content.image),
        :url => { :action => 'next_image' } %>
    <% else %>
      <%= link_to_remote image_tag(content.image),
        :url => { :action => 'change_page', :id => content.id } %>
    <% end %>
  <% end %>
</div>
<div id="contenttext" class="span-5">
  <h6><%= content.title -%></h6>
  <%= content.description -%>
</div>
