<div class="span-1" id="navigation">
  <% if @display_nav %>
    <%= link_to_remote "prev", :update => 'content',
      :url => { :action => 'prev_image' } -%>
    &bull;
    <%= link_to_remote "next", :update => 'content',
      :url => { :action => 'next_image' } -%>
  <% end %>
</div>
<br/>
<% if content.image %>
  <% if @display_nav %>
    <%= link_to_remote image_tag(content.image),
      :update => 'content',
      :url => { :action => 'next_image' } %>
  <% else %>
    <%= link_to_remote image_tag(content.image),
      :update => 'content',
      :url => { :action => 'change_page', :id => content.id } %>
  <% end %>
<% end %>
<div id="contenttext" class="span-5">
  <h6><%= content.title -%></h6>
  <%= content.description -%>
</div>
