<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @page.description %>
</p>

<p>
  <b>Image folder:</b>
  <%=h @page.image_folder %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>