<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Brittany Maxwell</title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <div class="span-8" id ="header">
        <%= link_to image_tag("header/header2.jpg", :alt => "b.max"), root_url -%>
      </div>
      <div class="prepend-6 span-2 last" id ="info">
        <%= mail_to("me@brittanymaxwell.com", image_tag("info/contact.jpg", :alt => "contact")) -%>
        <%= image_tag("info/dot.jpg", :alt => "*") -%>
        <%= link_to(image_tag("info/resume.jpg", :alt => "resume"), "pdfs/bmaxwell_resume.pdf") -%>
      </div>
      <%= yield :layout %>
    </div>
  </body>
</html>
